<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Student Info</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
    <th>DOB</th>
    <th>DOJ</th>
  </tr>
  {% for stu in students %}
  <tr>
    <td>{{stu.id}}</td>
    <td>{{stu.name}}</td>
    <td>{{stu.age}}</td>
    <td>{{stu.city}}</td>
    <td>{{stu.dob}}</td>
    <td>{{stu.doj}}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>

